Options All -Indexes

<IfModule mod_security.c>
  SecFilterEngine Off
  SecFilterScanPOST Off
  Header always set X-Frame-Options "SAMEORIGIN"
  Header always set Content-Security-Policy "frame-ancestors 'self'"
</IfModule>